@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&display=swap');


.sectionDos {
    background: url(Fondo-website.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
}

.contenidoSectionDos {
    padding: 20px 0;
}
.divContenSectiontresP{
    max-width: 850px;
}

.divContenidoSectionDos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.divContenidoSectionDos h2 {
    background: #ffffff;
    padding: 5px;
    color: #0a538f;
    max-width: 850px;
}

.divContenidoSectionDos p {
    padding: 10px;
    line-height: 20px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 100;
    max-width: 800px;

}


.faqimg1 {
    width: 228px;
}

.faqimg2 {
    width: 404px;
}

.faqimg3,
.faqimg4 {
    width: 118px;
}

.faqimg5 {
    width: 201px;
}

.faqimg6 {
    width: 201px;
}

/* section 3 */

.sectionTres{
    display: flex;
    justify-content: center;
}

.divImgSectiontres img {
    width: 350px;
}

.contenedorDivSectionTres {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.divContenSectiontresP p {
    line-height: 25px;
    padding: 30px 15px;
    font-size: 1.2em;
    font-weight: 400;
    color: #074578;
}

/* section de enlace */
.frame {
    text-align: center;
  }

button {
    margin: 20px;

    
}

.custom-btn {
    width: 170px;
    height: auto;
    color: #fff;
    border-radius: 18px;
    padding: 10px 25px;
    font-weight: 500;
    background: #2175bb;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}


/* 16 */
.btn-16 {
    border: none;
    color: #000;
    font-size: 1.4em;
    color: #fff;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    border-radius: 18px;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-16:hover {
    color: #fff;
}

.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}

.contenedordivEnalce{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}